<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.webauth.goods.dao.GoodsDao">


    <!--商品列表-->
    <select id="listGoodsByPage" parameterType="com.goods.entity.GoodsInfo" resultType="com.goods.entity.GoodsInfo">
        select
        a.c_name Cname,
        a.publish,
        a.state,
        a.price,
        a.sell,
        a.num,
        a.first_classify firstClassify,
        a.advertising,
        a.introduce,
        a.second_classify secondClassify,
        a.inventor,
        a.author,
        a.p_path Ppath,
        a.is_deleted,
        a.sort_no,
        a.gmt_create,
        a.create_by,
        a.gmt_modified,
        a.last_modified_by,
        a.version

        from t_goods a
        where a.is_deleted = 0
        <if test="Cname != null and Cname != ''">
            a.c_name like concat('%', #{Cname}, '%')
        </if>
        <if test="advertising != null and advertising != ''">
        and goods_adv like concat('%', #{goodsAdv}, '%')
        </if>
        <if test="press != null and press != ''">
        and press like concat('%', #{press}, '%')
        </if>
        <if test="author != null and author != ''">
        and author like concat('%', #{author}, '%')
        </if>
        </select>


    <!--新增商品-->
    <insert id="saveGoods" parameterType="com.neusoft.webauth.goods.entity.GoodsInfo">
        insert into t_goods
        (goods_id,
        goods_name,
        publish,
        state,
        price,
        sell,
        num,
        first_classify,
        advertising,
        introduce,
        putaway_time,
        browse_num,
        shop_id,
        inventor,
         is_deleted,
        gmt_create,
        create_by,
        gmt_modified,
        last_modified_by,
        version,
        author,
        p_path,
        second_classify,)
        values(#{Cid},
               #{Cname},
               #{publish},
               #{state},
               #{price},
               #{sell},
               #{num},
               #{firstClassify},
               #{advertising},
               #{introduce},
               #{putawayTime},
               #{browseNum},
               #{shopId},
               #{inventory},
               #{isDeleted},
               now(),
               #{createBy},
               now(),
               #{lastModifiedBy},
              0,
              #{author},
              #{Ppath},
              #{secondClassify}
               )
    </insert>


    <!--删除商品-->
    <update id="deletegoods" parameterType="com.goods.entity.GoodsInfo">
        update t_goods
        set
        is_deleted = 1,
        gmt_modified = now(),
        last_modified_by = #{userId},
        version = version + 1
        where goods_code in
        <foreach item="goodsCode" index="index" collection="listCode" open="(" separator="," close=")">
            #{goodsCode}
        </foreach>
    </update>



    <!--修改用户信息-->
    <update id="updateGoods" parameterType="com.goods.entity.GoodsInfo">
        update t_goods
        set
        goods_id        =#{goodsId},
        goods_name      =#{goodsName},
        publish         =#{publish},
        state           =#{steate},
        price           =#{price},
        sell            =#{sell},
        num             =#{num},
        first_classify  =#{firstClassify},
        advertising     =#{advertising},
        introduce       =#{introduce},
        putaway_time    =#{putawayTime},
        browse_num      =#{browseNum},
        shop_id         =#{shopId},
        inventor        =#{inventor},
        author          =#{author},
        p_path          =#{pPath},
        second_classify =#{secondClassify},
        gmt_modified = now(),
        last_modified_by   = #{lastModifiedBy},
        version      = version + 1
        where goods_code = #{goodsCode}
          and version = #{version}
    </update>





    <!--获取用户信息-->
    <select id="getGoodsByGoodsCode" parameterType="java.lang.String" resultType="com.goods.entity.GoodsInfo">
        select
        goods_id  goodsId,
        goods_name  goodsName,
        publish,
        state,
        price,
        sell,
        num,
        first_classify  firstClassify ,
        advertising,
        introduce,
        putaway_time  putawayTime,
        browse_num   browseNum,
        shop_id   shopId,
        inventor,
        author,
        p_path  pPath,
        second_classify  secondClassify,
            version
        from t_goods
        where goods_code = #{goodsCode}
        and is_deleted = 0
    </select>

    <!--统计轮播图数量-->
    <select id="countScrollAcct" parameterType="com.scroll.entity.ScrollInfo" resultType="int">
        select count(scroll_acct)
        from t_roll
        where is_deleted = 0
        and scroll_acct = #{scrollAcct}
    </select>


    <!--轮播图列表-->
    <select id="listScrollByPage" parameterType="com.scroll.entity.ScrollInfo" resultType="com.scroll.entity.ScrollInfo">
        select


        a.p_id pId,
        a.c_id cId,
        a.sort,
        a.start,
        a.end,
        a.state,
        a.is_deleted,
        a.sort_no,
        a.gmt_create,
        a.create_by,
        a.gmt_modified,
        a.last_modified_by,
        a.version
        from t_roll a
        where a.is_deleted = 0
        <if test="scrollAcct != null and scrollAcct != ''">
            and a.scroll_acct like concat('%', #{scrollAcct}, '%')
        </if>
        <if test="scrollId != null and userId != ''">
            and a.user_id like concat('%', #{userId}, '%')
        </if>
        order by gmt_create desc
    </select>


</mapper>